* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --greenColor: #0dbf6d;
  --blueColor: #83b3eb;
  --lightGrayColor: #f9f9fb;
  --grayColor: #dfe3e9;
  --darkGrayColor: #a2a8b0;
}
html {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 460px;
  padding: 15px;
  box-shadow: 0 0 0 18px #282c4c;
  border-radius: 4px;
  outline: 50px solid #282c4c;
}

h1 {
  font-size: small;
  text-transform: uppercase;
  color: var(--blueColor);
}

.goal {
  display: flex;
  margin: 20px auto 50px auto;
}

img {
  width: 100%;
}

.streak {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 15px 0 25px;
}

.streak p {
  flex-basis: 100%;
  font-size: 14px;
}

.streak > p > span {
  font-weight: bold;
}

.streak div {
  background-color: var(--lightGrayColor);
  flex-basis: 45%;
  margin-top: 10px;
}

.streak div span {
  display: block;
  text-align: center;
  padding: 3px;
  font-size: 12px;
}

.streak div span:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
}
.leaderboard {
  margin-top: -15px;
}

.dropdown {
  display: flex;
  justify-content: space-between;
}

select {
  width: 100px;
  padding: 6px 2px;
  border: 1px solid #999;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  /* background-color: #f9f9fb; */
  background-image: linear-gradient(#fff, #f3f5f8);
  color: #888;
}
ul {
  margin: 10px 0 auto 0;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 3px;
  display: grid;
  grid-template-columns: auto 3fr auto 30px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-shadow: -10px 10px 10px -10px rgba(0, 0, 0, 0.1);
}

/* li > div {
  display: grid;
  grid-template-columns: auto 3fr auto 30px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-shadow: -10px 10px 10px -10px rgba(0, 0, 0, 0.1);
} */
li > * {
  line-height: 30px;
}

li span:nth-child(1) {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  border: 1.5px solid var(--greenColor);
  color: var(--greenColor);
  font-weight: bold;
}

li:nth-child(2) > span:nth-child(1),
li:nth-child(2) > i {
  color: var(--darkGrayColor);
  border-color: var(--darkGrayColor);
}

li span:nth-child(3) {
  margin-right: 10px;
}

i {
  display: inline-block;
  color: var(--greenColor);
  transform: rotate(-45deg);
  margin: 5px 5px;
}

li:last-child {
  background-color: var(--greenColor);
}

li:last-child > span,
li:last-child > i {
  color: white;
  border-color: white;
}
