* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 460px;
  padding: 15px;
  box-shadow: 0 0 0 18px #282c4c;
  border-radius: 4px;
  outline: 50px solid #282c4c;
}

h1 {
  font-size: small;
  text-transform: uppercase;
  color: #83b3eb;
}

.goal {
  display: flex;
  margin: 20px auto 50px auto;
}

img {
  width: 100%;
}

.streak {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 15px 0 25px;
}

.streak p {
  flex-basis: 100%;
  font-size: 14px;
}

.streak > p > span {
  font-weight: bold;
}

.streak div {
  background-color: #f9f9fb;
  flex-basis: 45%;
  margin-top: 10px;
}

.streak div span {
  display: block;
  text-align: center;
  padding: 3px;
  font-size: 12px;
}

.streak div span:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
}
